body {
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* Farge på header */
header {
	background-color: #333333;
}


header::after {
  content: '';
  display: table;
  clear: both;
  height: 20px;
}

#container {

}
/* Hele naven, floater til høyre */
nav {
	float: right;
}

nav ul {
  	margin-right: 70px;
  	padding: 0;
  	list-style: none;
}

nav li {
  	display: inline-block; /* Gjør at teksten blir horizontalt */
  	margin-left: 70px;
  	padding-top: 23px;
  	position: relative;
}
/* Teksten på navigasjonen */
nav a {
  	color: #ffffff;
  	text-decoration: none; /* Ta vekk strek under tekst */
  	text-transform: uppercase; /* Gjør tekst til store bokstaver */
  	font-size: 20px;

}
/* Endrer farge når du holder over naven */
nav a:hover {
	color: #6bb8ca;
}

/* Strek når du holder over 
nav a::before {
  	content: '';
  	display: block;
  	height: 5px;
  	background-color: #0091f2;

  	position: absolute;
  	top: 0;
  	width: 0%;
	transition: all ease-in-out 250ms;
}
*/

nav a:hover::before {
  	width: 100%;
}

.logo {
  float: left;
  padding-left: 13%;
  padding-top: 1.5%;
  width: 13%;
  position: absolute;

}
.aktiv {
    color: #6bb8ca;
}

.wrapperimg {
  float: left;
  position: relative;
  width: 100%;
}

/*Box til main content */
#main {
  width: 100%;
  height: 40%;
  position: relative;
}

/*Style and placement for the slogan*/
.slogan{
  color: #ffffff;
  margin-left: 5%;
  margin-top: 5%;
  position: absolute;
}

/*Temporary placement for questions*/
.question{
  width: 40%;
  background-color: #333333;
  margin-top: 15%;
  margin-left:5%;
  margin-bottom: 10%;
  float: left;
  border-radius: 25px;
  border: solid #ffffff;
  position: absolute;
}
/* Text for question tab */
#qtxt{
  color: #ffffff;
  margin-left: 2%;
}

/* Box til info */
#info {
  width: 100%;
  height: 40%;
  background-color: #6bb8ca;
  float: left;
}
/* Text for info box */
#infotxt{
    text-align: center;
    margin-top: 4%;
    color: #ffffff;
}
/* Footer */
#footer {
  width: 100%;
  height: 400px;
  background-color: #333333;
  float: left;
}
/* Text for the footer */         
.footertext {
  color: #ffffff;
  text-align: center;
  margin-top: 15%;
}
/*class for form in question page*/
.qform {
  padding: 2%;
  margin-left: 13%;
  margin-bottom: 5%;
  margin-top: 5%;
  width: 30%;
  background-color: #333333;
  float: left;
  /*border-radius: 25px;*/
  border: solid white;
  color: white;
  position: absolute; 
}