body {
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* Farge på header */
header {
	background-color: #333333;
}


header::after {
  content: '';
  display: table;
  clear: both;
  height: 20px;
}

#container {

}
/*--------------------------NAV--------------------------*/

/* Hele naven, floater til høyre */
nav {
	float: right;
}

nav ul {
  	margin-right: 70px;
  	padding: 0;
  	list-style: none;
}

nav li {
  	display: inline-block; /* Gjør at teksten blir horizontalt */
  	margin-left: 70px;
  	padding-top: 23px;
  	position: relative;
}
/* Teksten på navigasjonen */
nav a {
  	color: #ffffff;
  	text-decoration: none; /* Ta vekk strek under tekst */
  	text-transform: uppercase; /* Gjør tekst til store bokstaver */
  	font-size: 20px;

}
/* Endrer farge når du holder over naven */
nav a:hover {
	color: #6bb8ca;
}

/* Strek når du holder over 
nav a::before {
  	content: '';
  	display: block;
  	height: 5px;
  	background-color: #0091f2;

  	position: absolute;
  	top: 0;
  	width: 0%;
	transition: all ease-in-out 250ms;
}
*/

nav a:hover::before {
  	width: 100%;
}

/*.logo {
  float: left;
  padding-left: 13%;
  padding-top: 1.5%;
  width: 13%;
  position: absolute;*/

}
.aktiv {
    color: #6bb8ca;
}
/*--------------------------HOME--------------------------*/

.wrapperimg {
  float: left;
  position: relative;
  width: 100%;
}

/*Box til main content */
#main {
  width: 100%;
  height: 40%;
  position: relative;
}

/*Style and placement for the slogan*/
.slogan{
  color: #ffffff;
  margin-left: 5%;
  margin-top: 5%;
  position: absolute;
}

/*Temporary placement for questions*/
.question{
  width: 40%;
  background-color: #333333;
  margin-top: 15%;
  margin-left:5%;
  margin-bottom: 10%;
  float: left;
  border-radius: 25px;
  border: solid #ffffff;
  position: absolute;
}
/* Text for question tab */
#qtxt{
  color: #ffffff;
  margin-left: 2%;
}

/* Box til info */
#info {
  width: 100%;
  height: 40%;
  background-color: #6bb8ca;
  float: left;
}
/* Text for info box */
#infotxt{
    text-align: center;
    margin-top: 4%;
    color: #ffffff;
}
/* Footer */
#footer {
  width: 100%;
  height: 400px;
  background-color: #333333;
  float: left;
}
/* Text for the footer */         
.footertext {
  color: #ffffff;
  text-align: center;
  margin-top: 15%;
}

/*--------------------------QUESTION PAGE--------------------------*/

/*class for form in question page*/
.qform {
  padding: 2%;
  margin-left: 13%;
  margin-bottom: 5%;
  margin-top: 8%;
  width: 30%;
  background-color: #333333;
  float: left;
  /*border-radius: 25px;*/
  border: solid white;
  color: white;
  position: absolute; 
}

/*--------------------------LOGIN------------------------------ /*

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #6bb8ca;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    margin-left: 10px;
    background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container2 {
    padding: 16px;
}

span.psw {
    float: right;
    margin-right: 10px;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 30%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}
